In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('201306-citibike-tripdata.csv')
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [4]:
df1.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [5]:
df2 = pd.read_csv('2013-07 - Citi Bike trip data.csv')
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [32]:
df2.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1087,2017-02-01 00:00:13,2017-02-01 00:18:20,345,W 13 St & 6 Ave,40.736494,-73.997044,305,E 58 St & 3 Ave,40.760958,-73.967245,17432,Subscriber,1966.0,1
1,704,2017-02-01 00:00:31,2017-02-01 00:12:15,3295,Central Park W & W 96 St,40.791270,-73.964839,2006,Central Park S & 6 Ave,40.765909,-73.976342,20621,Customer,NaN,0
2,212,2017-02-01 00:00:34,2017-02-01 00:04:06,336,Sullivan St & Washington Sq,40.730477,-73.999061,439,E 4 St & 2 Ave,40.726281,-73.989780,16826,Subscriber,1984.0,1
3,1140,2017-02-01 00:00:44,2017-02-01 00:19:44,484,W 44 St & 5 Ave,40.755003,-73.980144,3295,Central Park W & W 96 St,40.791270,-73.964839,27052,Subscriber,1980.0,1
4,320,2017-02-01 00:00:42,2017-02-01 00:06:02,490,8 Ave & W 33 St,40.751551,-73.993934,3431,E 35 St & 3 Ave,40.746524,-73.977885,25238,Subscriber,1987.0,1

In [6]:
df3 = pd.read_csv('2013-08 - Citi Bike trip data.csv')
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,664,2013-08-01 00:00:00,2013-08-01 00:11:04,449,W 52 St & 9 Ave,40.764618,-73.987895,479,9 Ave & W 45 St,40.760193,-73.991255,20068,Subscriber,1944,1
1,2115,2013-08-01 00:00:01,2013-08-01 00:35:16,254,W 11 St & 6 Ave,40.735324,-73.998004,195,Liberty St & Broadway,40.709056,-74.010434,17095,Subscriber,1974,1
2,385,2013-08-01 00:00:03,2013-08-01 00:06:28,460,S 4 St & Wythe Ave,40.712859,-73.965903,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,18197,Customer,\N,0
3,653,2013-08-01 00:00:10,2013-08-01 00:11:03,398,Atlantic Ave & Furman St,40.691652,-73.999979,398,Atlantic Ave & Furman St,40.691652,-73.999979,17080,Customer,\N,0
4,954,2013-08-01 00:00:11,2013-08-01 00:16:05,319,Park Pl & Church St,40.713361,-74.009376,336,Sullivan St & Washington Sq,40.730477,-73.999061,17967,Customer,\N,0

In [33]:
df3.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1893,2017-03-01 00:00:32,2017-03-01 00:32:06,2009,Catherine St & Monroe St,40.711174,-73.996826,527,E 33 St & 2 Ave,40.744023,-73.976056,27291,Subscriber,1973.0,2
1,223,2017-03-01 00:01:09,2017-03-01 00:04:53,127,Barrow St & Hudson St,40.731724,-74.006744,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,19387,Subscriber,1985.0,2
2,1665,2017-03-01 00:01:27,2017-03-01 00:29:12,174,E 25 St & 1 Ave,40.738177,-73.977387,307,Canal St & Rutgers St,40.714275,-73.989900,15809,Subscriber,1988.0,1
3,100,2017-03-01 00:01:29,2017-03-01 00:03:10,316,Fulton St & William St,40.709560,-74.006536,306,Cliff St & Fulton St,40.708235,-74.005301,18956,Subscriber,1991.0,1
4,1229,2017-03-01 00:01:33,2017-03-01 00:22:02,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,25728,Subscriber,1963.0,1

In [7]:
df4 = pd.read_csv('2013-09 - Citi Bike trip data.csv')
df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1010,2013-09-01 00:00:02,2013-09-01 00:16:52,254,W 11 St & 6 Ave,40.735324,-73.998004,147,Greenwich St & Warren St,40.715422,-74.011220,15014,Subscriber,1974,1
1,1443,2013-09-01 00:00:09,2013-09-01 00:24:12,151,Cleveland Pl & Spring St,40.721816,-73.997203,497,E 17 St & Broadway,40.737050,-73.990093,19393,Customer,\N,0
2,1387,2013-09-01 00:00:16,2013-09-01 00:23:23,352,W 56 St & 6 Ave,40.763406,-73.977225,405,Washington St & Gansevoort St,40.739323,-74.008119,16160,Subscriber,1992,1
3,405,2013-09-01 00:00:18,2013-09-01 00:07:03,490,8 Ave & W 33 St,40.751551,-73.993934,459,W 20 St & 11 Ave,40.746745,-74.007756,14997,Subscriber,1973,1
4,270,2013-09-01 00:00:20,2013-09-01 00:04:50,236,St Marks Pl & 2 Ave,40.728419,-73.987140,393,E 5 St & Avenue C,40.722992,-73.979955,19609,Subscriber,1984,1

In [8]:
df5 = pd.read_csv('2013-10 - Citi Bike trip data.csv')
df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,326,2013-10-01 00:01:08,2013-10-01 00:06:34,239,Willoughby St & Fleet St,40.691966,-73.981302,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052,Subscriber,1982,1
1,729,2013-10-01 00:01:21,2013-10-01 00:13:30,322,Clinton St & Tillary St,40.696192,-73.991218,398,Atlantic Ave & Furman St,40.691652,-73.999979,19412,Customer,\N,0
2,520,2013-10-01 00:01:24,2013-10-01 00:10:04,174,E 25 St & 1 Ave,40.738177,-73.977387,403,E 2 St & 2 Ave,40.725029,-73.990697,19645,Subscriber,1984,1
3,281,2013-10-01 00:01:25,2013-10-01 00:06:06,430,York St & Jay St,40.701485,-73.986569,323,Lawrence St & Willoughby St,40.692362,-73.986317,16992,Subscriber,1985,1
4,196,2013-10-01 00:01:27,2013-10-01 00:04:43,403,E 2 St & 2 Ave,40.725029,-73.990697,401,Allen St & Rivington St,40.720196,-73.989978,15690,Subscriber,1986,1

In [9]:
citibike_2017 = pd.concat([df1, df2, df3, df4, df5])
citibike_2017

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983,1
5,2028,2013-06-01 00:01:47,2013-06-01 00:35:35,485,W 37 St & 5 Ave,40.750380,-73.983390,406.0,Hicks St & Montague St,40.695128,-73.995951,18445,Customer,NaN,0
6,2057,2013-06-01 00:02:33,2013-06-01 00:36:50,285,Broadway & E 14 St,40.734546,-73.990741,532.0,S 5 Pl & S 5 St,40.710451,-73.960876,15693,Subscriber,1991,1
7,369,2013-06-01 00:03:29,2013-06-01 00:09:38,509,9 Ave & W 22 St,40.745497,-74.001971,521.0,8 Ave & W 31 St N,40.750967,-73.994442,16100,Subscriber,1981,1
8,1829,2013-06-01 00:03:47,2013-06-01 00:34:16,265,Stanton St & Chrystie St,40.722293,-73.991475,436.0,Hancock St & Bedford Ave,40.682166,-73.953990,15234,Subscriber,1984,1
9,829,2013-06-01 00:04:22,2013-06-01 00:18:11,404,9 Ave & W 14 St,40.740583,-74.005509,303.0,Mercer St & Spring St,40.723627,-73.999496,16400,Subscriber,1987,1
10,1316,2013-06-01 00:04:28,2013-06-01 00:26:24,423,W 54 St & 9 Ave,40.765849,-73.986905,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,19781,Subscriber,1960,1
11,1456,2013-06-01 00:04:41,2013-06-01 00:28:57,502,Henry St & Grand St,40.714215,-73.981346,532.0,S 5 Pl & S 5 St,40.710451,-73.960876,18886,Customer,NaN,0
12,386,2013-06-01 00:05:13,2013-06-01 00:11:39,241,DeKalb Ave & S Portland Ave,40.689810,-73.974931,365.0,Fulton St & Grand Ave,40.682232,-73.961458,19039,Subscriber,1981,1
13,924,2013-06-01 00:05:21,2013-06-01 00:20:45,486,Broadway & W 29 St,40.746201,-73.988557,521.0,8 Ave & W 31 St N,40.750967,-73.994442,16608,Customer,NaN,0
14,1233,2013-06-01 00:06:44,2013-06-01 00:27:17,527,E 33 St & 2 Ave,40.744023,-73.976056,296.0,Division St & Bowery,40.714131,-73.997047,14761,Subscriber,1987,1
15,512,2013-06-01 00:03:36,2013-06-01 00:12:08,309,Murray St & West St,40.714979,-74.013012,300.0,Shevchenko Pl & E 7 St,40.728145,-73.990214,19080,Subscriber,1979,2
16,505,2013-06-01 00:03:45,2013-06-01 00:12:10,309,Murray St & West St,40.714979,-74.013012,347.0,Greenwich St & W Houston St,40.728846,-74.008591,16798,Subscriber,1984,1
17,833,2013-06-01 00:07:29,2013-06-01 00:21:22,503,E 20 St & Park Ave,40.738274,-73.987520,503.0,E 20 St & Park Ave,40.738274,-73.987520,19072,Customer,NaN,0
18,1818,2013-06-01 00:08:10,2013-06-01 00:38:28,257,Lispenard St & Broadway,40.719392,-74.002472,500.0,Broadway & W 51 St,40.762288,-73.983362,20349,Customer,NaN,0
19,682,2013-06-01 00:08:53,2013-06-01 00:20:15,486,Broadway & W 29 St,40.746201,-73.988557,521.0,8 Ave & W 31 St N,40.750967,-73.994442,20176,Customer,NaN,0
20,899,2013-06-01 00:09:25,2013-06-01 00:24:24,494,W 26 St & 8 Ave,40.747348,-73.997236,494.0,W 26 St & 8 Ave,40.747348,-73.997236,15539,Subscriber,1967,1
21,626,2013-06-01 00:09:52,2013-06-01 00:20:18,380,W 4 St & 7 Ave S,40.734011,-74.002939,382.0,University Pl & E 14 St,40.734927,-73.992005,17122,Subscriber,1982,1
22,219,2013-06-01 00:10:28,2013-06-01 00:14:07,305,E 58 St & 3 Ave,40.760958,-73.967245,358.0,Christopher St & Greenwich St,40.732916,-74.007114,16301,Subscriber,1977,1
23,339,2013-06-01 00:10:45,2013-06-01 00:16:24,480,W 53 St & 10 Ave,40.766697,-73.990617,432.0,E 7 St & Avenue A,40.726218,-73.983799,15628,Subscriber,1969,1
24,97,2013-06-01 00:11:00,2013-06-01 00:12:37,453,W 22 St & 8 Ave,40.744751,-73.999154,453.0,W 22 St & 8 Ave,40.744751,-73.999154,18614,Subscriber,1985,1
25,511,2013-06-01 00:10:50,2013-06-01 00:19:21,223,W 13 St & 7 Ave,40.737815,-73.999947,345.0,W 13 St & 6 Ave,40.736494,-73.997044,19853,Subscriber,1979,1
26,198,2013-06-01 00:11:10,2013-06-01 00:14:28,476,E 31 St & 3 Ave,40.743943,-73.979661,461.0,E 20 St & 2 Ave,40.735877,-73.982050,17615,Subscriber,1982,1
27,482,2013-06-01 00:11:30,2013-06-01 00:19:32,151,Cleveland Pl & Spring St,40.722104,-73.997249,401.0,Allen St & Rivington St,40.720196,-73.989978,18970,Customer,NaN,0
28,395,2013-06-01 00:11:52,2013-06-01 00:18:27,312,Allen St & Stanton St,40.722055,-73.989111,410.0,Suffolk St & Stanton St,40.720664,-73.985180,19477,Subscriber,1970,1
29,424,2013-06-01 00:11:53,2013-06-01 00:18:57,494,W 26 St & 8 Ave,40.747348,-73.997236,519.0,Pershing Square North,40.751873,-73.977706,18489,Subscriber,1957,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037682,1113,2013-10-31 23:55:29,2013-11-01 00:14:02,368,Carmine St & 6 Ave,40.730386,-74.002150,2003.0,1 Ave & E 18 St,40.734161,-73.980243,17998,Subscriber,1977,1
1037683,291,2013-10-31 23:55:29,2013-11-01 00:00:20,417,Barclay St & Church St,40.712912,-74.010202,351.0,Front St & Maiden Ln,40.705310,-74.006126,17351,Subscriber,1983,1
1037684,1466,2013-10-31 23:55:50,2013-11-01 00:20:16,432,E 7 St & Avenue A,40.726218,-73.983799,505.0,6 Ave & W 33 St,40.749013,-73.988484,19864,Customer,\N,0
1037685,1727,2013-10-31 23:56:03,2013-11-01 00:24:50,495,W 47 St & 10 Ave,40.762699,-73.993012,483.0,E 12 St & 3 Ave,40.732233,-73.988900,16403,Subscriber,1981,2
1037686,153,2013-10-31 23:56:12,2013-10-31 23:58:45,509,9 Ave & W 22 St,40.745497,-74.001971,434.0,9 Ave & W 18 St,40.743174,-74.003664,18442,Subscriber,1993,1
1037687,411,2013-10-31 23:56:13,2013-11-01 00:03:04,293,Lafayette St & E 8 St,40.730287,-73.990765,394.0,E 9 St & Avenue C,40.725213,-73.977688,17178,Subscriber,1985,1
1037688,571,2013-10-31 23:56:26,2013-11-01 00:05:57,401,Allen St & Rivington St,40.720196,-73.989978,79.0,Franklin St & W Broadway,40.719116,-74.006667,15601,Subscriber,1984,1
1037689,433,2013-10-31 23:56:47,2013-11-01 00:04:00,509,9 Ave & W 22 St,40.745497,-74.001971,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,18645,Subscriber,1981,1
1037690,756,2013-10-31 23:56:52,2013-11-01 00:09:28,151,Cleveland Pl & Spring St,40.721816,-73.997203,401.0,Allen St & Rivington St,40.720196,-73.989978,19915,Subscriber,1977,1
1037691,422,2013-10-31 23:57:10,2013-11-01 00:04:12,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,247.0,Perry St & Bleecker St,40.735354,-74.004831,17253,Subscriber,1988,1
1037692,444,2013-10-31 23:57:29,2013-11-01 00:04:53,348,W Broadway & Spring St,40.724910,-74.001547,401.0,Allen St & Rivington St,40.720196,-73.989978,17064,Subscriber,1979,2
1037693,1475,2013-10-31 23:57:38,2013-11-01 00:22:13,327,Vesey Pl & River Terrace,40.715338,-74.016584,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,19453,Subscriber,1977,1
1037694,880,2013-10-31 23:57:39,2013-11-01 00:12:19,533,Broadway & W 39 St,40.752996,-73.987216,267.0,Broadway & W 36 St,40.750977,-73.987654,18272,Customer,\N,0
1037695,567,2013-10-31 23:57:43,2013-11-01 00:07:10,519,Pershing Square N,40.751884,-73.977702,385.0,E 55 St & 2 Ave,40.757973,-73.966033,15668,Subscriber,1986,1
1037696,615,2013-10-31 23:57:47,2013-11-01 00:08:02,312,Allen St & E Houston St,40.722055,-73.989111,383.0,Greenwich Ave & Charles St,40.735238,-74.000271,17568,Subscriber,1991,2
1037697,958,2013-10-31 23:57:49,2013-11-01 00:13:47,223,W 13 St & 7 Ave,40.737815,-73.999947,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,15054,Subscriber,1980,2
1037698,270,2013-10-31 23:58:05,2013-11-01 00:02:35,361,Allen St & Hester St,40.716059,-73.991908,307.0,Canal St & Rutgers St,40.714275,-73.989900,19240,Subscriber,1981,1
1037699,1141,2013-10-31 23:58:06,2013-11-01 00:17:07,475,E 16 St & Irving Pl,40.735243,-73.987586,265.0,Stanton St & Chrystie St,40.722293,-73.991475,20090,Customer,\N,0
1037700,1166,2013-10-31 23:58:06,2013-11-01 00:17:32,300,Shevchenko Pl & E 6 St,40.728145,-73.990214,512.0,W 29 St & 9 Ave,40.750073,-73.998393,19228,Subscriber,1991,1
1037701,464,2013-10-31 23:58:07,2013-11-01 00:05:51,79,Franklin St & W Broadway,40.719116,-74.006667,360.0,William St & Pine St,40.707179,-74.008873,16143,Subscriber,1978,1
1037702,931,2013-10-31 23:58:13,2013-11-01 00:13:44,223,W 13 St & 7 Ave,40.737815,-73.999947,522.0,E 51 St & Lexington Ave,40.757148,-73.972078,19859,Subscriber,1982,1
1037703,742,2013-10-31 23:58:24,2013-11-01 00:10:46,433,E 13 St & Avenue A,40.729554,-73.980572,494.0,W 26 St & 8 Ave,40.747348,-73.997236,18187,Subscriber,1987,1
1037704,206,2013-10-31 23:58:26,2013-11-01 00:01:52,300,Shevchenko Pl & E 6 St,40.728145,-73.990214,317.0,E 6 St & Avenue B,40.724537,-73.981854,20602,Subscriber,1961,1
1037705,709,2013-10-31 23:58:35,2013-11-01 00:10:24,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,546.0,E 30 St & Park Ave S,40.744449,-73.983035,15524,Subscriber,1990,1
1037706,252,2013-10-31 23:58:48,2013-11-01 00:03:00,265,Stanton St & Chrystie St,40.722293,-73.991475,404.0,9 Ave & W 14 St,40.740583,-74.005509,15827,Subscriber,1986,1
1037707,534,2013-10-31 23:58:50,2013-11-01 00:07:44,216,Columbia Heights & Cranberry St,40.700379,-73.995481,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,17905,Subscriber,1990,1
1037708,416,2013-10-31 23:59:12,2013-11-01 00:06:08,368,Carmine St & 6 Ave,40.730386,-74.002150,335.0,Washington Pl & Broadway,40.729039,-73.994046,17879,Subscriber,1994,1
1037709,404,2013-10-31 23:59:27,2013-11-01 00:06:11,456,E 53 St & Madison Ave,40.759711,-73.974023,509.0,9 Ave & W 22 St,40.745497,-74.001971,17082,Subscriber,1966,1
1037710,651,2013-10-31 23:59:51,2013-11-01 00:10:42,377,6 Ave & Canal St,40.722438,-74.005664,463.0,9 Ave & W 16 St,40.742065,-74.004432,15587,Subscriber,1970,1
1037711,332,2013-10-31 23:59:57,2013-11-01 00:05:29,250,Lafayette St & Jersey St,40.724561,-73.995653,368.0,Carmine St & 6 Ave,40.730386,-74.002150,15754,Subscriber,1984,1

In [10]:
citibike_2017.to_csv('citibike_2018.csv', sep = ',')